
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    body{
    background-color:#FFFAF0;
    font-family: "Roboto", Helvetica, "Times New Roman", sans-serif;
    max-width:800px;
    margin: 0 auto;
    font-size:18px;
}
h1{
    text-align:center;
    padding:10px;
    margin-bottom:30px;
    font-size: 36px;
    letter-spacing: 0.5rem;

}
h2{
    margin: 30px 0;
}
h1, h2, h3, h4{
    font-family:"Playfair Display", Helvetica, "Times New Roman", sans-serif;;
    color:#555555;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.recipeimg{
    display:block;
    margin:auto;
    width:800px;
    height:auto;
}
#pizza{
    transform:rotate(90deg);
    height:800px;
    width:auto;
    margin-top: -100px;
    margin-bottom:-100px;
}
p, ol, ul{
    line-height:1.5;
    font-weight:100;
}
li{
    margin-bottom: 10px;
}
ol, ul{
    padding-left:20px;
    margin-bottom: 20px;
}
p{
    font-weight: 300;
    line-height: 1.6;
}




